html {
    @include rem-baseline;
    @media (max-width: 320px)  {
        font-size: 75%;
    }
    @include media-breakpoint-between(sm, lg){
        font-size: 80%;
    }
    //@media (min-width: 1025px) and (max-width: 1366px)  {
    //    font-size: 75%;
    //}
}

html, body {
    height: 100%;
    overflow: hidden;
    padding: 0;
    margin: 0;
    width: 100%;
    @at-root body{
        display: flex;
        flex-direction: column;
    }
    *:focus, *.focus {
        box-shadow: none;
        outline: 0;
        outline: none;
    }
}

//main-content

.main-content {
    display: flex;
    flex: 1 1 100%;
}

select {
    -webkit-appearance: menulist;
}

b {
    @include f-b();
    font-weight: normal;
}

.line-height-1{
    line-height: $line-height-one !important;
}

.inner-container, .body-bg{
    background-color: $body-bg;
}

.title-light{
    color: $gray-seven;
    font-weight: 300;
}

.inner-container{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.is-active-sidebar-link {
    color: #fff !important;
}