
@mixin transform ($value) {
  -webkit-transform: $value;
  -moz-transform: $value;
  -ms-transform: $value;
  transform: $value;
}

@mixin f-r($default:$font-regular ){
    font-family: $default;
}
@mixin f-i($default:$font-italic){
    font-family: $default;
}

@mixin f-l($default:$font-light){
    font-family: $default;
}
@mixin f-b($default:$font-bold){
    font-family: $default;
}
@mixin f-sb($default:$font-semibold){
    font-family: $default;
}
@mixin scroll-y(){
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;  // smooth scrolling on  devices: android, iOS
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide the ugly scrollbars in Edge until the scrollable area is hovered
}
@mixin scroll-x(){
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;  // smooth scrolling on  devices: android, iOS
    -ms-overflow-style: -ms-autohiding-scrollbar; // Hide the ugly scrollbars in Edge until the scrollable area is hovered

    // webkit-scrollbar making scrollbar hide in chrome
    //&::-webkit-scrollbar {
    //    display: none; //
    //}
}


@mixin absolute-center(){
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

%badge{
    position: absolute;
    width: $badge-size;
    height: $badge-size;
    border-radius: $badge-border-radius;
    border: 0.125rem solid #ffffff;
    @extend .f-b;
    overflow: hidden;
    line-height: 1.2;
    //font-size: 0.6875rem;
}


//Scroll Mixin
//%scroll-container{
//    @mixin scroll-container(){
//        position: absolute;
//        left: 0;
//        right: 0;
//        height: 100%;
//    }
//    @-moz-document url-prefix() {     //TODO fix for Firefox, Scroll Issue
//        @include scroll-container();
//    }
//    @media #{$ie-bug-fix} {               //TODO IE 10 and IE 11 s
//        @include scroll-container();
//    }
//}
