.circular-progress{
    svg{   //TODO check for auto resize...
        @include media-breakpoint-between(sm, lg){
            transform: scale(0.75);
        }
    }
    #bar{
        &:hover{
            stroke-width: .625rem;
            cursor: pointer;
        }
    }
}



