$student-list-border: #433197;


.sub-tab{
    .nav-tab{
        display: flex;
        align-items: center;
    }
}

.student-list-header{
    .icon-keyboard-backspace{
        font-size: 1.5rem;
        color: $gray-seven;
    }
    .title{
        color: $light;
    }
}

.new-person-badge{
    color:$white;
    background-color:$success;
    padding: 0.01875rem 0.3125rem;
    border-radius: 0.25rem;
    font-size:  0.6875rem;
    position: absolute;
    bottom: 0;
    //transform: translateX(50%);
    left: .1875rem;
    
}

.student-list-member {
    padding: .5rem .75rem;
    //padding: 0.625rem;
    //margin-top: 0.625rem;
    //margin-bottom: 0.625rem;
    border-left: 0.25rem solid transparent;
    width: 100%;


    .nav-pills & {
        color: $light;
        background-color: $white;
        @include border-radius(0);
        @include transition(color 0.2s linear);
        @include transition(border-color 0.2s linear);
        &:hover{
            color:$primary;
            border-color: $student-list-border;
            //background-color: $nav-icon-tabs-link-active-bg;
        }
        &.active{
            background-color: $white;
            color: $primary;
            border-color: $student-list-border;
            background-color: $nav-icon-tabs-link-active-bg;
            .person-img {
                border: 1px solid $student-list-border;
            }
            //&:hover{
            //    background-color: $nav-icon-tabs-link-active-bg;
            //}
        }
    }
}

.person-img-with-badge{
    .person-img {
        //@include size(2.5rem,2.5rem);
        width: 2.5rem;
        height: 2.5rem;
        border: 1px solid transparent;        
    }
    &.person-img-lg {
       img {
            width: 3.5rem;
            height: 3.5rem;
       }
        .new-person-badge {            
            left: 0.6rem;
        }
    }
}

.student-details-header{
    .close{
        top: .5rem;
        right: .5rem;
    }
}

@include media-breakpoint-up(lg){
    .student-details-header{
        min-height: 78px;
    }
    .student-details-header + .nav-tabs{
        min-height: 120px;
    }
}
@include media-breakpoint-down(lg){
    //.student-details-header{
    //    .close{
    //        top: .5rem;
    //        right: .5rem;
    //    }
    //}
    .student-details-header + .nav-tabs{
        min-height: auto;
    }
}

.student-details-wrapper{
    .icon-super{
        font-size: 2.2rem;
    }
    .inner-tabs{
        position: sticky;
        top: 0;
        background: $white;
        z-index: $zindex-click;
        @include box-shadow(0 10px 10px -10px rgba(221,221,221,.6));
    }
}

.list-students {
    height: 0; // TODO fix for student list scroll

}






//.list-students{
//    .nav-pills .nav-link{
//        font-size: 1rem;
//        border-radius: 0;
//        background-color: $white;
//        color: $light;
//        &:hover{
//            color:$primary;
//            border-color: $student-list-border;
//        }
//        &.active{
//            color:$primary;
//            border-color: $student-list-border;
//        }
//
//
//
//    }
//
//
//}







