.team-card{
    @extend .card-shadow;
    border: 0;
    flex-grow: 1;
    margin: 1rem;
    @include media-breakpoint-up(lg){
        margin: 0;
    }

}

.team-card-body{
    //.text-capitalize.p-0.d-flex.flex-column.min-height-0
    padding: 0;
    display: flex;
    flex-direction: column;
}

.list-team-header{
    display: flex;
    align-items: center;
    margin: 0 1rem 1.5rem;
    padding-top: 1rem ;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid #eee;
}

.list-team-item-head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}

.list-team{
    .person-img{
        @include size(3.125rem,3.125rem);
    }
    .person-name{
        font-size : .875rem;
        font-weight: 500;
        line-height: 1.2;
    }
}

.list-team-member{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: .416rem;
    margin-bottom:0.208rem;
    .person-name{
        color: $secondary;
        font-weight: 400;
    }
    .person-img{
        @include size(1.875rem,1.875rem);
    }
   
    &:hover{
        box-shadow: 0 0 10px 0 rgba(221, 221, 221, 0.6);
        padding: .416rem;
        margin-bottom:0.208rem;
    }
}


