.toggle-container {
    border: 1px solid $input-border-color;
    border-radius: 0.2rem;
    li {
        list-style: none;
        padding: 0.4rem 0.8rem;
        font-size: rem(14px);
        cursor: pointer;
        &.active {
            background: $primary;
            color: $white;
        }
    }
}
.table-icons {
    *[class^='icon-'] {
        font-size: 1.3rem;
        width: 3rem;
        cursor: pointer;
    }
    .icon-edit {
        font-size: 1rem;
    }
    .icon-super {
        font-size: 1.7rem;
    }
}

.desktop-view{
     .table-icons {
         *[class^='icon-'] {
             color: $light;
             &:hover{
                 color: $primary;
             }
         }
     }
}

.mobile-view{
    .table-icons {
        *[class^='icon-'] {
            color: $white;
        }
    }
}

.ReactTable {
    border: none;    
    .rt-thead {                
        position: sticky;
        top: 0;
        z-index: 10;
        border-radius: rem(4px);
        overflow: hidden;
        .rt-tr {
            position: relative;            
            background: $table-head;
            left: 0;
            transition: 0.5s all ease;
            .rt-th {
                background: inherit;
                color: $black;
                font-size: rem(14px);
                font-weight: 500;
                border-right: 0;
                align-items: center;
                justify-content: center;
                min-width: 200px;
                .custom-control {
                    label {
                        display: flex;
                        align-items: center;
                        padding-left: rem(15px);
                    }
                }                
                &.fixed-column {
                    border-right: 1px solid $head-border;
                    position: sticky;
                    left: 0;
                    justify-content: left;
                    min-width: 400px;
                    z-index: 10;
                }
            }
        }
        .column-nav {
            position: absolute;
            background: $table-head;
            right: 0;
            padding-right: 1rem;         
            font-size: 1.5rem;
            color: $black;      
            display: flex;
            align-items: center;
            top: 0;
            bottom: 0;   
        }
    }    
    .rt-tbody {   
        overflow: visible;  
        position: relative;   
        transition: 0.5s all ease;
        left: 0;
        .rt-tr {
            background: #fff;
            margin: rem(3px) 0;
            .rt-td {
                color: $light;
                border: none;
                align-items: center;
                font-size: rem(16px);
                justify-content: center;    
                min-width: 200px;    
                background: $white;        
                &.fixed-column {
                    border-right: 1px solid $td-border;
                    position: sticky;
                    left: 0;
                    justify-content: left;
                    min-width: 400px;                    
                    z-index: 1;
                }
            }
        }
    }
    .-pagination {
        box-shadow: none;
        border-top: 0;
        .-previous, .-next {
            max-width: 12.5rem;
        }
    }
}
.mobile-view {
    display: none;
}
@media screen and (max-width: 1023px) {
    .desktop-view {display: none;}
    .mobile-view {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .table-icons {
            margin: 0 -1rem -1rem;
            background: $primary;
            display: flex;
            padding: rem(15px) 0;
            color: $white;
            i {
                text-align: center;
                flex: 1;
                &.icon-super {
                    line-height: 0.7;
                }
            }
        }
        .student-list-mobile{
            height: calc(100vh - 266px);
        }
    }
}


.button-toggle{
    border:1px solid $input-border-color;
    padding: 2px;
    @include border-radius(5px);
    .btn{
        border: 0;
        @include box-shadow(none);
        @extend .btn-link;
        color: $gray-nine;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: .875rem;
        &.active{
            @extend .btn-primary;
            @include box-shadow(none);
        }
        &:not(:disabled):not(.disabled):active, &:focus{
          @include box-shadow(none);
        }
    }
}
