.student-goals{
    list-style-type: none;
    font-size:14px;
    color:$gray-seven;
}
.card-header{
    .new-person-badge{
        position: absolute;
        top:32px;
        left:5px;
        padding: 2px 5px;
        font-size: 11px;
    }
    .goals-card{
        border-radius: 4px;
    }
}
.goal-card-count{
    color: #3d419f;
    font-size:14px;
}
.goal-count{
    color: $gray-eight;
}
.badge-new{
    position: relative;
}
.goal-icon{
    font-size: 24px;

}


