.modal-recommend{
    .tab-icon-list-view{
    //    min-height: 3.5rem;
        flex: 0 0  auto;
    }
    .modal-footer{
        .btn{
            font-size: 1rem;
            font-weight: 300;
        }
    }
    .modal-body{
        padding: 0;
    }
    @media (orientation: portrait){
        .modal-dialog{
            margin: 0;
        }

    }
    @media (max-width: 575px) and (orientation: portrait){
        .modal-dialog, .modal-content{
            height: 100%;
        }
        .modal-footer{
            background-color: $primary;
            .btn{
                color: $white;
            }
            .btn-primary{
                background-color: transparent;
                @include box-shadow(none);
                border: 1px solid $white;
            }
        }
    }
}
