$font-size: .875rem;
$line-height: 1.2;
//$lines-to-show: 3;

@mixin text-ellipse-default($lines-to-show : 2){
    display: block; /* Fallback for non-webkit */
    max-width: 100%;
    max-height: $font-size*$line-height*$lines-to-show; /* Fallback for non-webkit */
    position: relative;
    overflow: hidden;
    &:after {
        content: "";
        text-align: right;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 70%;
        height: 1.2em;
        background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 50%);
    }
    @supports (-webkit-line-clamp: initial) {
    & {
        display: -webkit-box;
        -webkit-line-clamp: $lines-to-show;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        &:after {
            display: none;
        }
    }

}

}


.text-ellipse-2 {
    @include text-ellipse-default(2);
}
.text-ellipse-3{
    @include text-ellipse-default(3);
}


.text-ellipse-5{
    @include text-ellipse-default(5);
}

