.badge{
    background-color: $badge-bg;
}

 .userId-badge{
     border: 1px solid $primary;
     color: $primary !important;
     border-radius: $border-radius;
     line-height: 1;
     background: #fff;
     display: flex;
     flex-direction: row-reverse;
     align-items: center;
     padding: 4px 14px;
 }


.message-badge{

}