.person{
    .person-img{
        @include size(3.75rem,3.75rem);
    }
}

.person-name{
    font-size: 1.125rem;
    color: $dark;
}
.link-details{
    font-size: 1rem;
    line-height: $line-height-one;
}
.person-subinfo{
    font-size: .8125rem;
    color: $secondary;
}
