.student-card {
    display: flex;
    justify-content: space-between;
    .item {
        text-align: center;
        label {
            font-size: rem(14px);
            color: $gray-seven;
            span {
                font-weight: 500;
                color: $gray-eight;
            }
        }
        .item-data {
            i {
                color: $gray-seven;
                font-size: rem(22px);
                &.icon-mail, &.icon-smartphone {
                    font-size: rem(18px);
                }
            }
            .num {
                color: $primary;
                font-size: rem(14px);
                padding-left: 4px;
                font-weight: 400;
            }
        }
    }
}