.popover{
    .popover-body{
        font-size: $popover-body-font-size;
    }
    .arrow{
        top: 1.916rem;
        left: -0.458rem;

    }
}
.list-popover{

    list-style-type: none;
    .list-popover-item{
        color : $settings-popover-item-color;
        font-size: .8125rem;
        line-height: 1.875rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .list-popover-icon{
        color: $settings-popover-item-icon-color;
    }
}

.text-area{
    min-width: 14.0833rem;
    min-height: 13.0833rem;
    border:none;
}
.popover-header{
    //background-color: $primary;
    //color: $white;
}
