$add-mentor-bg: #f5f6ff;
$dropdown-border-color: #ddd;


.tab-buttons{
  border-radius: 4px !important;
}
.invite-mentor-btn{
  &:hover{
    color: $primary;
  }
  &:focus{
    color: $primary;
  }
}
.mentor-card{
  //width:147px ;
  padding:18px;
  cursor: pointer;

}
.add-mentor-card{
  min-height: 254px;
  border: 1px dashed $border-color
}
.add-mentor{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: $add-mentor-bg;
  font-size: 18px;
}
.img-wrapper{
  max-width: 78px;
  min-height: 78px;
  border-radius: 50%;
  border: 1px solid $primary;
}
.profile-button{
  background-color: $add-mentor-bg;
  border-radius: $border-radius;
}
.icons-recommend{
  .icon-info-filled{
    display: none;
  }
  &:hover{
      .icon-info{
        display: none;
      }
      .icon-info-filled{
        display: block;
      }
  }
}
.view-all-card{
  max-width: 174px;
}


/*advance-search mentor*/
.advance-search-input{
  padding: 5px 10px;
  max-width: 330px;
  .advance-search-link{
    border-left: 1px solid $input-border-color;
    padding: 5px 15px;
  }
}
.dropdown-toggle::after{
  border: 0;
}
.dropdown-menu-save-search {
    width: 240px;
    .drop-down-items {
      font-size: 14px;

      .saved-search-name {
        border-right: 1px solid $dropdown-border-color;

      }

    }
}
.btn-outline-primary{
    background-color: $white;
    color: $primary;
    &:hover{
      background-color: $primary;
      color: $white;

    }

}
.search-filters{
  background-color: $badge-bg;
  padding: 6px 14px;
  border-radius: $border-radius;
  font-size: 13px;


}
.dropdown-menu-advance-search{
    width: 627px;
  @media (max-width: 576px) {
    width: auto;
  }
  .advance-search-name{
    font-size: 14px;

  }
  .search-dropdown{
      /*border: 1px solid $dropdown-border-color;*/
      border-radius: $border-radius;
      /*padding: 6px;*/
      width: 100%;
  }
}
.css-2b097c-container{
  width: 100%;
}
.css-yk16xz-control {
    border: 0;
}


.css-1okebmr-indicatorSeparator{
  width:0 !important;
}
.css-1rhbuit-multiValue{
  background-color: $badge-bg !important;
  padding: 6px 14px !important;
  border-radius: $border-radius !important;
  font-size: 13px !important;
  color: $primary;
}
.css-1pahdxg-control{
  border-width: 1px !important;
  box-shadow: 0 0 0 1px $input-border-color !important;
  border-color: $input-border-color !important;
  &:hover{
    box-shadow: 0 0 0 1px $input-border-color !important;
    border-width: 0px;
    border-color: $input-border-color !important;
  }
}
.css-12jo7m5{
  color: $primary !important;
  font-size: 13px;
}
.css-1alnv5e{
  &:hover{
     background-color: $primary !important;
     color: $white !important;
  }
}
.css-1hwfws3{
    padding: 0 !important;
}
.css-tj5bde-Svg{
   color: $primary;
}
.save-search-button{
    padding: 10px 37px;
}


