$add-mentor-bg: #f5f6ff;

.tab-buttons{
  border-radius: 4px !important;
}
.invite-mentor-btn{
  &:hover{
    color: $primary;
  }
  &:focus{
    color: $primary;
  }
}
.mentor-card{
  //width:147px ;
  padding:18px;
  cursor: pointer;

}
.add-mentor-card{
  min-height: 254px;
  border: 1px dashed $border-color
}
.add-mentor{
  width:60px;
  height:60px;
  border-radius: 50%;
  background-color: $add-mentor-bg;
  font-size: 18px;
}
.img-wrapper{
  max-width: 78px;
  min-height: 78px;
  border-radius: 50%;
  border: 1px solid $primary;
}
.profile-button{
  background-color: $add-mentor-bg;
  border-radius: $border-radius;
}
.icons-recommend{
  .icon-info-filled{
    display: none;
  }
  &:hover{
      .icon-info{
        display: none;
      }
      .icon-info-filled{
        display: block;
      }
  }
}
.view-all-card{
  max-width: 174px;
}





