$gray-888: #888888;
$switch-success-color: #669c3a;

.gray-border-bottom{
  border-bottom: 1px solid $dropdown-border-color;
}
.gray-888{
  color: #888888;
}
.profile-section-wrapper{

}
.profile-page-wrapper{
  @media (max-width: 575.98px) {
    overflow-y: auto;
  }
}
.profile-left-section{
  max-width: 380px;
  .person-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;

  }
  .section-footer{
    //border-top: 1px solid $dropdown-border-color;
    border-bottom: 1px solid $dropdown-border-color;
    padding: 15px 22px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @media (max-width:767px) {
      padding-right: 0;
      padding-left: 0;
    }
    label{
      color: $gray-888;
    }
  }
}
.social-icon-bg{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: $primary;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $white;
}
.introduction-content{
  color: $gray-888;
  font-size: 14px;
  line-height: 1.7;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.right-section-card{
  padding: 16px 16px;
}
.react-progressbar{
  width:57px;
  height: 57px;
  border-radius: 50%;
  background-color: #888888;

}
.switch-button{
  .custom-control-input:checked ~ .custom-control-label::before{
    color: $switch-success-color !important;
    border-color: $switch-success-color !important;
    background-color: $switch-success-color !important;
  }
}
.individual-experience-card{
   background-color: $body-bg;
  border-radius: $border-radius;
}
.individual-card-heading{
  color: $gray-eight;
  font-size: 14px;
  font-weight: 600;
}
.add-doc{
  font-size: 9px;
  font-weight: bold;

}
.re-arrange-modals{
  .modal-content{
    padding:0 !important;
  }
}
.Profile-modals{
    max-width: 479px;
  .modal-header{
    font-size: 18px;
    color: $black;
  }
  .modal-content{
    padding:0 15px;
  }
  .event-description{
    height: 127px;
    max-height: 127px;
    overflow: auto;
  }
  .modal-body{
    overflow-x: hidden !important;
  }
}
.list-type-items{
  height: 10px;
  width:10px;
  border-radius: 50%;
  background-color: $primary;
}
.profile-banner{
  background-image: url("images/profile-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 4px;
  min-height: 150px;
  background-position: 50% 50%;
}
.profile-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: -80px;
}
.profile-info-content{
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  background-color: $white;
  border-radius: 4px;
  margin-bottom: 15px;
}
.profile-detail-wrapper{
  padding:17px 20px;
  @media (max-width: 767px ) {
    text-align: center;
    padding-left:0;
  }
}
.profile-publish-modals{
  .modal-content{
    background-color: transparent !important;
  }

}
.badge-image{
  width: 35px;
  height: 35px;
}

//timeline

.timeline {
  //border-left: 1px solid $dropdown-border-color;
  letter-spacing: 0.5px;
  position: relative;
  padding: 0 20px;
  list-style: none;
  text-align: left;
  margin-left: 15px;
}


.timeline .timeline-event {
  position: relative;
}

.timeline .timeline-event:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .timeline-event:before,
.timeline .timeline-event:after {
  position: absolute;
  display: block;
  top: 0;
}



.timeline .timeline-event:after {
  left: -25px;
  background: $primary;
  border-radius: 50%;
  height: 10px;
  width: 10px;
  content: "";
}
.timeline .timeline-event:not(:last-child):before {
  content: '';
  height: 100%;
  width: 1px;
  background: #ccc;
  left: -21px;
}

@media (max-width: 945px) {
  .timeline .timeline-event::before {
    left: 0.5px;
    top: 20px;
    min-width: 0;
    font-size: 13px;
  }

  section.lab h3.card-title {
    padding: 5px;
    font-size: 16px
  }
}

@media (max-width: 768px) {
  .timeline .timeline-event::before {
    left: 0.5px;
    top: 0;
    min-width: 0;
    font-size: 13px;
  }
  .timeline .timeline-event:nth-child(1)::before,
  .timeline .timeline-event:nth-child(3)::before,
  .timeline .timeline-event:nth-child(5)::before {
    top: 0;
  }

}
.modal-row {
  .modal-column{
    padding: 15px;
    cursor: pointer;
    margin-top: -1px;
    margin-left: -1px;
    text-align: center;
    font-size: 16px;
    color: #999;
    border: 1px solid #eee;
  }
}

