
.student-name{
    font-size:1.125rem;
    padding:  0.9375rem 0 .5rem;
    color: $dark;
    border-bottom: 1px solid $input-border-color;
}

.link-view-all{
    font-size: 0.875rem;
}
.list-team-header{
    border-color: $gray-ten !important;
}

.more-action{
    top: 1rem;
    right: 1rem;
}

.left-column{
    min-width: 14.375rem;
    flex: 0 0 14.375rem;
}

.right-column{
    min-width: 17.5rem;
    flex: 0 0 17.5rem;
}
.list-icon, .calender-icon{
    color:$secondary;
    &:hover{
        color:$primary;
    }
}

.list-icon{
    font-size:1.58rem;

}
.calender-icon{
    font-size:1.21rem;
    font-weight: 600;
}

//.card-quick-links{
//    max-height: 18.125rem;
//}
// .list-unstyled:nth-child(1) .left-nav:nth-child(1) .left-nav-item {
//     color: #fff !important;
// }
.list-unstyled:nth-child(1) .left-nav:not(:nth-child(1)) .left-nav-item,
.list-unstyled:nth-child(2) .left-nav:nth-child(4) .left-nav-item,
.list-unstyled:nth-child(3) .left-nav:nth-child(2) .left-nav-item,
.navbar .breadcrumb, .navbar .dropdown{
    display: none !important;
}

.help-submenu .left-nav:nth-child(2) .left-nav-item{
    display: flex !important;
}

.left-nav-wrapper {
    background-color: #433197;
}
.btn-primary {
    background-color: #433197;
}
.list-recommendation-section{
    .list-group-item {
        &:nth-child {
            border-bottom: 0;
        }
    }
}
@media (min-width: 1023px){
    .list-recommendation-section{
        height: 12rem;
    }
}
@media (max-width: 1023px){
    .list-recommendation-section{
        height: 30rem;
    }
}